@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-blue-800;
}

.main {
    @apply md:grid-cols-12 md:grid;
}

header {
    @apply flex flex-col p-6 pb-6 sm:p-16 md:p-3 bg-trueGray-800 md:h-screen md:col-span-3 lg:col-span-2;
}

.logo {
    @apply self-center block mb-2;
}

.search {
    @apply w-full;
}

.movie-container {
    @apply container p-6 mx-auto sm:p-16 lg:max-w-none md:overflow-y-scroll md:h-screen md:col-span-9 lg:col-span-10;
}

.movies {
    @apply grid grid-cols-12 gap-y-4 lg:gap-4;
}

.movie {
    @apply col-span-12 p-3 py-6 overflow-hidden bg-white sm:py-3 lg:col-span-6 2xl:col-span-4 sm:flex-row sm:items-start;
}

.poster_title {
    @apply flex space-x-2;
}

.movie-poster {
    @apply mr-3 max-w-[125px];
}

.details {
    @apply w-full space-y-1;
}

.details h2 {
    @apply text-lg font-bold;
}

.rate {
    @apply text-sm font-medium;
}

.rating {
    @apply inline-block px-1 text-white bg-yellow-600 rounded;
}

.release-date {
    @apply text-sm font-medium;
}

.date {
    @apply block font-normal;
}

.overview {
    @apply pr-1 mt-4 overflow-y-auto text-sm max-h-24 sm:h-32;
}

.overview::-webkit-scrollbar {
    height: 5px;
    width: 4px;
    border: 1px solid gray;
    background: white;
    
}

.overview::-webkit-scrollbar-track {
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.overview::-webkit-scrollbar-thumb {
    background: gray;
    outline: 1px solid gray;
}



